<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [matMenuTriggerFor] = "men">Men</button>
      <button mat-menu-item [matMenuTriggerFor] = "women">Women</button>
      <button mat-menu-item [matMenuTriggerFor] = "kids">Kids</button>
      <button mat-menu-item>Home & Living</button>
      <button mat-menu-item>Beauty</button>
      <mat-divider></mat-divider>
    </mat-menu>
    <mat-menu #men="matMenu">
      <button mat-menu-item>Topwear</button>
      <button mat-menu-item>Indian & Festive Wear</button>
      <button mat-menu-item>Bottomwear</button>
      <button mat-menu-item>Innerwear & Sleepwear</button>
      <button mat-menu-item>Plus Size</button>
      <button mat-menu-item>Footwear</button>
      <button mat-menu-item>Personal Care & Grooming</button>
      <button mat-menu-item>Sunglasses & Frames</button>
      <button mat-menu-item>Watches</button>
      <button mat-menu-item>Sports & Active Wear</button>
      <button mat-menu-item>Gadgets</button>
      <button mat-menu-item>Fashion Accessories</button>
      <button mat-menu-item>Bags & Backpacks</button>
      <button mat-menu-item>Luggages & Trolleys</button>
    </mat-menu>
    <mat-menu #women="matMenu">
      <button mat-menu-item>Indian & Fusion Wear</button>
      <button mat-menu-item>Belts, Scarves & More</button>
      <button mat-menu-item>Watches & Wearables</button>
      <button mat-menu-item>Western Wear</button>
      <button mat-menu-item>Plus Size</button>
      <button mat-menu-item>Maternity</button>
      <button mat-menu-item>Sunglasses & Frames</button>
      <button mat-menu-item>Footwear</button>
      <button mat-menu-item>Sports & Active Wear</button>
      <button mat-menu-item>Lingeries & Sleepwear</button>
      <button mat-menu-item>Beauty & Personal Care</button>
      <button mat-menu-item>Gadgets</button>
      <button mat-menu-item>Jewellery</button>
      <button mat-menu-item>Backpacks</button>
      <button mat-menu-item>Handbags, Bags & Wallets</button>
      <button mat-menu-item>Luggages & Trolleys</button>
    </mat-menu>
    <mat-menu #kids="matMenu">
      <button mat-menu-item>Boys Clothing</button>
      <button mat-menu-item>Girls Clothing</button>
      <button mat-menu-item>Footwear</button>
      <button mat-menu-item>Toys & Games</button>
      <button mat-menu-item>Infants</button>
      <button mat-menu-item>Home & Bath</button>
      <button mat-menu-item>Personal Care</button>
      <button mat-menu-item>Kids Accessories</button>
      <button mat-menu-item>Brands</button>
      <button mat-menu-item>Age</button>
    </mat-menu>
  </button>
  <span>Myntra</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
<!-- <mat-nav-list>
  <a mat-list-item>
    <mat-icon>home</mat-icon> Home
  </a>
  <a mat-list-item>
    <mat-icon>settings</mat-icon> Settings
  </a>
  <a mat-list-item>
    <mat-icon>info</mat-icon> About
  </a>
</mat-nav-list> -->
