<div>
<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [matMenuTriggerFor] = "men"><b>Men</b></button>
      <button mat-menu-item [matMenuTriggerFor] = "women"><b>Women</b></button>
      <button mat-menu-item [matMenuTriggerFor] = "kids"><b>Kids</b></button>
      <button mat-menu-item [matMenuTriggerFor] = "homeliving"><b>Home & Living</b></button>
      <button mat-menu-item [matMenuTriggerFor] = "beauty"><b>Beauty</b></button>
      <mat-divider></mat-divider>
      <button mat-menu-item>Myntra Studio</button>
      <button mat-menu-item>Myntra Mall</button>
      <button mat-menu-item>Myntra Insider</button>
      <button mat-menu-item>Gift Cards</button>
    </mat-menu>
    <mat-menu #men="matMenu">
      <button mat-menu-item>Topwear</button>
      <button mat-menu-item>Indian & Festive Wear</button>
      <button mat-menu-item>Bottomwear</button>
      <button mat-menu-item>Innerwear & Sleepwear</button>
      <button mat-menu-item>Plus Size</button>
      <button mat-menu-item>Footwear</button>
      <button mat-menu-item>Personal Care & Grooming</button>
      <button mat-menu-item>Sunglasses & Frames</button>
      <button mat-menu-item>Watches</button>
      <button mat-menu-item>Sports & Active Wear</button>
      <button mat-menu-item>Gadgets</button>
      <button mat-menu-item>Fashion Accessories</button>
      <button mat-menu-item>Bags & Backpacks</button>
      <button mat-menu-item>Luggages & Trolleys</button>
    </mat-menu>
    <mat-menu #women="matMenu">
      <button mat-menu-item>Indian & Fusion Wear</button>
      <button mat-menu-item>Belts, Scarves & More</button>
      <button mat-menu-item>Watches & Wearables</button>
      <button mat-menu-item>Western Wear</button>
      <button mat-menu-item>Plus Size</button>
      <button mat-menu-item>Maternity</button>
      <button mat-menu-item>Sunglasses & Frames</button>
      <button mat-menu-item>Footwear</button>
      <button mat-menu-item>Sports & Active Wear</button>
      <button mat-menu-item>Lingeries & Sleepwear</button>
      <button mat-menu-item>Beauty & Personal Care</button>
      <button mat-menu-item>Gadgets</button>
      <button mat-menu-item>Jewellery</button>
      <button mat-menu-item>Backpacks</button>
      <button mat-menu-item>Handbags, Bags & Wallets</button>
      <button mat-menu-item>Luggages & Trolleys</button>
    </mat-menu>
    <mat-menu #kids="matMenu">
      <button mat-menu-item>Boys Clothing</button>
      <button mat-menu-item>Girls Clothing</button>
      <button mat-menu-item>Footwear</button>
      <button mat-menu-item>Toys & Games</button>
      <button mat-menu-item>Infants</button>
      <button mat-menu-item>Home & Bath</button>
      <button mat-menu-item>Personal Care</button>
      <button mat-menu-item>Kids Accessories</button>
      <button mat-menu-item>Brands</button>
      <button mat-menu-item>Age</button>
    </mat-menu>
    <mat-menu #homeliving="matMenu">
      <button mat-menu-item>Bed Linen & Furnishing</button>
      <button mat-menu-item>Flooring</button>
      <button mat-menu-item>Bath</button>
      <button mat-menu-item>Lamps & Lighting</button>
      <button mat-menu-item>Home Decor</button>
      <button mat-menu-item>Cushions & Cushion Covers</button>
      <button mat-menu-item>Curtains</button>
      <button mat-menu-item>Home Gift Sets</button>
      <button mat-menu-item>Kitchen & Tables</button>
      <button mat-menu-item>Storage</button>
      <button mat-menu-item>Brands</button>
    </mat-menu>
    <mat-menu #beauty="matMenu">
      <button mat-menu-item>Makeup</button>
      <button mat-menu-item>Skincare, Bath & Body</button>
      <button mat-menu-item>Baby Care</button>
      <button mat-menu-item>Masks</button>
      <button mat-menu-item>Hair Care</button>
      <button mat-menu-item>Fragrances</button>
      <button mat-menu-item>Appliances</button>
      <button mat-menu-item>Men's Grooming</button>
      <button mat-menu-item>Beauty Gift & Makeup Set</button>
      <button mat-menu-item>Premium Beauty</button>
      <button mat-menu-item>Wellness & Hygiene</button>
      <button mat-menu-item>Top Brands</button>
    </mat-menu>
  </button>
  <span>Myntra</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon shopping_cart" aria-label="Example icon-button with cart icon">
    <mat-icon>shopping_cart</mat-icon>
  </button>
</mat-toolbar>
</div>
<div>
  <span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with search icon">
      <mat-icon>search</mat-icon>
    </button>
  </span>
</div>
